<div>
  <%= form_for(:inventory, url: admin_vendor_inventory_upload_path, method: :post, multipart: true ) do |f| %>
    <fieldset>
      <p class="form-buttons">
        <%= f.field_container :file do %>
          <%= f.label :file, Spree.t(:new_file) %> <span class="required">*</span><br/>
          <%= f.file_field :attachment %>
        <% end %>

        <br>
        <%= button 'Upload', 'add', 'submit', { :class => "btn-success" } %>
      </p>
    </fieldset>
  <% end %>
</div>
