<div>
  <%= form_for(:inventory, url: admin_vendor_inventory_upload_path, method: :post, multipart: true ) do |f| %>
    <fieldset>
      <p class="form-buttons">
        <%= f.field_container :product_type, class: ['form-group'] do %>
          <%= f.label :product_type, Spree.t(:product_type) %> <span class="required">*</span>
          <br>
          <%= f.select :product_type, Spree::Upload.supported_product_types %>
        <% end %>

        <%= f.field_container :provider, class: ['form-group'] do %>
          <%= f.label :provider, Spree.t(:inventory_provider) %>
          <br>
          <%= f.text_field :provider, class: 'form-control' %>
        <% end %>

        <%= f.field_container :file do %>
          <%= f.label :file, Spree.t(:new_file) %> <span class="required">*</span><br/>
          <%= f.file_field :attachment %>
        <% end %>

        <%= f.field_container :upload_format do %>
          <%= f.label :upload_format, Spree.t(:inventory_file_format) %>
          <br/>
          <%= f.select :upload_format, Spree::Upload.supported_formats, include_blank: true %>
        <% end %>

        <br>
        <%= button 'Upload', 'add', 'submit', { :class => "btn-success" } %>
      </p>
    </fieldset>
  <% end %>
</div>
